.vscode/

# Server
/Server/bin/
/Server/obj/
/Server/appsettings.json

# Client
/Client/node_modules/
/Client/.angular/
/Client/.vscode/
/Client/package-lock.json
/Client/src/environments/environment.ts



